{% extends "base.html" %}
{% load static %}

{% block content %}  
    <section class="home-section" id="home">
      <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">
        <div class="split-background d-none d-lg-block d-xl-block"></div>
        <div class="home-content text-start">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center mb-md-60">
              <div>
                <h1 class="hs-line-10 uppercase mb-30 mb-xs-10 wow fadeInUpShort" data-wow-delay=".1s">{{ home.welcome_title }}</h1>
                <p>{{ home.welcome_description | safe }}</p>
              </div>
            </div>
            <div class="split-image col-lg-6 offset-lg-1 d-flex align-items-center parallax" data-offset="20">
              <img src="{{ home.welcome_image.url }}" alt="Add Image Description Here" class="wow fadeScaleIn" />
            </div>
          </div>              
        </div>
      </div>
    </section>
    
    <section class="page-section">
      <div class="container relative">
        <div class="row">
          <div class="col-lg-6 wow fadeInUpShort" data-wow-duration="1.2s" data-wow-offset="205">
            <div class="row">
              <div class="col-lg-10">
                <h2 class="section-title mb-50 mb-sm-30">{{ home.objectives_title }}</h2>
              </div>
            </div>
            
            <div class="row alt-features-grid">
              
              {% for objective in objectives %}
              <div class="col-lg-6">
                <div class="alt-features-item">
                  <div class="alt-features-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                      <path d="M12 0c-3.371 2.866-5.484 3-9 3v11.535c0 4.603 3.203 5.804 9 9.465 5.797-3.661 9-4.862 9-9.465v-11.535c-3.516 0-5.629-.134-9-3zm0 1.292c2.942 2.31 5.12 2.655 8 2.701v10.542c0 3.891-2.638 4.943-8 8.284-5.375-3.35-8-4.414-8-8.284v-10.542c2.88-.046 5.058-.391 8-2.701zm5 7.739l-5.992 6.623-3.672-3.931.701-.683 3.008 3.184 5.227-5.878.728.685z"/>
                    </svg>
                  </div>
                  <h3 class="alt-features-title">{{ objective.title }}</h3>
                  <div class="alt-features-descr">
                    {{ objective.description | safe }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="col-lg-6">                                 
            <div class="call-action-3-images mt-xs-0 text-end">
              
              <div class="call-action-3-image-1 mt-100 mt-xs-0">
                <img src="{{ home.objectives_image.url }}" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="205" />
              </div>
            </div>                                        
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="blog">
      <div class="container relative">
        
        <div class="text-center mb-80 mb-sm-50">
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <h2 class="section-title">{{ home.latest_projects_title }}</h2>
              <p class="section-title-descr">
                {{ home.latest_projects_description }}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- Post Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
            
            <div class="post-prev-img">
              <a href="blog-single-sidebar-right.html" tabindex="-1"><img src="{% get_media_prefix %}blog/post-prev-1.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
            </div>
            
            <h3 class="post-prev-title">
              <a href="blog-single-sidebar-right.html">Meet the New Web Trends</a>
            </h3>
            
            <div class="post-prev-info">
              <a href="">John Doe</a> • 10 December
            </div>
            
            <div class="post-prev-text">
              Lorem ipsum dolor sit amet, rembe adipiscing elite. Inwege maximus ligula semper metusere pellentesque mattis. Maecenas volutpat, diam enime volutpa. 
            </div>
            
            <div class="post-prev-more">
              <a href="blog-single-sidebar-right.html" class="text-link" tabindex="-1">Learn More</a>
            </div>
            
          </div>
          <!-- End Post Item -->
          
          <!-- Post Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
            
            <div class="post-prev-img">
              <a href="blog-single-sidebar-right.html" tabindex="-1"><img src="{% get_media_prefix %}blog/post-prev-2.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
            </div>
            
            <h3 class="post-prev-title">
              <a href="blog-single-sidebar-right.html">Minimalistic Product Design</a>
            </h3>
            
            <div class="post-prev-info">
              <a href="">John Doe</a> • 9 December
            </div>
            
            <div class="post-prev-text">
              Proin fringilla augue at maximus vestibulum. Nam pulvi vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum ac ante lorem ipsum sit amet. 
            </div>
            
            <div class="post-prev-more">
              <a href="blog-single-sidebar-right.html" class="text-link" tabindex="-1">Learn More</a>
            </div>
            
          </div>
          <!-- End Post Item -->
          
          <!-- Post Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
            
            <div class="post-prev-img">
              <a href="blog-single-sidebar-right.html" tabindex="-1"><img src="{% get_media_prefix %}blog/post-prev-3.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
            </div>
            
            <h3 class="post-prev-title">
              <a href="blog-single-sidebar-right.html">Clean Style in the Web</a>
            </h3>
            
            <div class="post-prev-info">
              <a href="">John Doe</a> • 7 December
            </div>
            
            <div class="post-prev-text">
              Ember adipiscing elite curabitur iaculis accumsan augu nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique ultricies eros lorem blandit. 
            </div>
            
            <div class="post-prev-more">
              <a href="blog-single-sidebar-right.html" class="text-link" tabindex="-1">Learn More</a>
            </div>
            
          </div>
          <!-- End Post Item -->              
          
          <!-- Post Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
            
            <div class="post-prev-img">
              <a href="blog-single-sidebar-right.html" tabindex="-1"><img src="{% get_media_prefix %}blog/post-prev-5.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
            </div>
            
            <h3 class="post-prev-title">
              <a href="blog-single-sidebar-right.html">Clean Style in the Web</a>
            </h3>
            
            <div class="post-prev-info">
              <a href="">John Doe</a> • 7 December
            </div>
            
            <div class="post-prev-text">
              Ember adipiscing elite curabitur iaculis accumsan augu nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique ultricies eros lorem blandit. 
            </div>
            
            <div class="post-prev-more">
              <a href="blog-single-sidebar-right.html" class="text-link" tabindex="-1">Learn More</a>
            </div>
            
          </div>
          <!-- End Post Item -->              
        </div>
        
      </div>
    </section>
{% endblock content %}