{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .partner-container {
            cursor: pointer;
        }
        .article {
            display: none;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        .article.active {
            display: block;
            animation: fadeIn 0.5s;
        }
        
        @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        }
    </style>
    <!-- Home Section -->
    <section class="small-section bg-dark-alfa-50 bg-scroll light-content mb-5" data-background="{% get_media_prefix %}{{ header.page_image }}" id="home">
        <div class="container relative pt-70">
            <div class="row">
                <div class="col-md-8">
                    <div class="wow fadeInUpShort" data-wow-delay=".1s">
                        <h1 class="hs-line-7 mb-20 mb-xs-10">
                            {% if header.page_title %}{{ header.page_title}}{% else %}Partners{% endif %}
                        </h1>
                    </div>
                    <div class="wow fadeInUpShort" data-wow-delay=".2s">
                        <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">
                            {% if header.page_description %}{{ header.page_description}}{% else %}Partners Header Text{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Section -->

<section class="page-section mt-5 pt-0 pb-5">
    <div class="container relative">
        <div class="row"><small class="text-end">Please, click on each partner to see details</small></div>
        <div class="row alt-features-grid">
            {% for partner in partners %}
            <div class="col-sm-6 col-lg-3">
                <div class="alt-features-item text-center wow fadeScaleIn partner-container" data-wow-delay="0" data-wow-duration="1s" data-article="{{ partner.name }}">
                    <div class="post-prev-img">
                        <img src="{{ partner.image.url }}" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" />
                    </div>
                    <h3 class="alt-features-title">{{ partner.name }}</h3>
                    <div class="alt-features-descr">
                        {{ partner.short_description }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">
        <div class="row">
            {% for partner in partners %}
            <div class="col-12 article{% if forloop.first %} active{% endif %}" id="{{ partner.name }}">
                {{ partner.long_description | safe }}
                <p>Please find more information here: <a href="{{ partner.linktree }}" target="_blank" rel="noopener noreferrer">Linktree</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    const partners = document.querySelectorAll('.partner-container');
    const articles = document.querySelectorAll('.article');

    partners.forEach((image) => {
        image.addEventListener('click', () => {
            const articleId = image.getAttribute('data-article');
            const article = document.getElementById(articleId);
            articles.forEach((a) => a.classList.remove('active'));
            article.classList.add('active');
        });
    });
</script>
{% endblock content %}