{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Home Section -->
    <section class="small-section bg-dark-alfa-50 bg-scroll light-content mb-5" data-background="{% get_media_prefix %}{{ header.page_image }}" id="home">
        <div class="container relative pt-70">
            <div class="row">
                <div class="col-md-8">
                    <div class="wow fadeInUpShort" data-wow-delay=".1s">
                        <h1 class="hs-line-7 mb-20 mb-xs-10">{{ header.page_title}}</h1>
                    </div>
                    <div class="wow fadeInUpShort" data-wow-delay=".2s">
                        <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">{{ header.page_description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Section -->
    
    
    <!-- Privacy Policy Section -->
    <section class="page-section pt-0 mt-5">
        <div class="container relative">
            <div class="row">
                <div class="col-12">
                    Privacy text
                </div>
            </div>
        </div>
    </section>
    <!-- End Privacy Policy Section -->     
    
{% endblock content %}