{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <style>
        .active {
            background-color: #198754 !important;
            color: #fff !important;
        }
        .active:hover {
            background-color: #fff !important;
            color: #198754 !important;
        }
    </style>
    <!-- Home Section -->
    <section class="small-section bg-dark-alfa-50 bg-scroll light-content mb-5" data-background="{% get_media_prefix %}{{ header.page_image }}" id="home">
        <div class="container relative pt-70">
            <div class="row">
                <div class="col-md-8">
                    <div class="wow fadeInUpShort" data-wow-delay=".1s">
                        <h1 class="hs-line-7 mb-20 mb-xs-10">{{ header.page_title}}</h1>
                    </div>
                    <div class="wow fadeInUpShort" data-wow-delay=".2s">
                        <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">
                        {{ header.page_description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Section -->
        
    <!-- Section -->
    <section class="page-section">
        <div class="container relative">
            <input type="hidden" name="category" id="category" value="all">
            <input type="hidden" name="status" id="status" value="all">
            <div class="row mb-60 mb-xs-40 d-flex align-items-center">
                <div class="col-sm-12 col-md-6 d-flex justify-content-md-start gap-1">
                    <button class="btn btn-outline-success filter-category all active" type="button" onclick="categoryFilter('all')">All</button>
                    <button class="btn btn-outline-success filter-category berlin" type="button" onclick="categoryFilter('berlin')">Loesje Berlin</button>
                    <button class="btn btn-outline-success filter-category bulgaria" type="button" onclick="categoryFilter('bulgaria')">Loesje Bulgaria</button>
                    <button class="btn btn-outline-success filter-category bitola" type="button" onclick="categoryFilter('bitola')">Loesje Bitola</button>
                    <button class="btn btn-outline-success filter-category gnu" type="button" onclick="categoryFilter('gnu')">GNU</button>
                </div>
                <div class="col-sm-12 col-md-6 d-flex justify-content-md-end gap-1 mt-3">
                    <button class="btn btn-outline-secondary filter-status all active" type="button" onclick="statusFilter('all')">All</button>
                    <button class="btn btn-outline-secondary filter-status ongoing" type="button" onclick="statusFilter('ongoing')">Ongoing</button>
                    <button class="btn btn-outline-secondary filter-status past" type="button" onclick="statusFilter('past')">Past</button>
                </div>
            </div>
            
            <div class="row blog-post-row">
                {% for project in object_list %}
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 mb-60 mb-xs-40 blog-post-item {{ project.partners | partners_list }} {{ project.ongoing | status_filter }}">
                    <div class="post-prev-img">
                        <a href="{% url 'project-detail' project.slug %}" tabindex="-1"><img src="{{ project.image.url }}" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                    </div>
                    
                    <h3 class="post-prev-title">
                        <a href="{% url 'project-detail' project.slug %}">{{ project.title }}</a>
                    </h3>
                    
                    <div class="post-prev-info">
                        <span>{{ project.author | title }} • {{ project.partners }}</span>
                    </div>
                    
                    <div class="post-prev-text">
                        {{ project.description }} 
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="{% url 'project-detail' project.slug %}" class="text-link" tabindex="-1">Learn More</a>
                    </div>
                </div>
                <!-- End Post Item -->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section -->

    <script>
        function categoryFilter(category) {
            const buttons = document.querySelectorAll('.filter-category');
            buttons.forEach((button) => {
                button.classList.remove('active');
            });
            document.querySelector(`.filter-category.${category}`).classList.add('active');
            const categoryInput = document.getElementById('category');
            categoryInput.value = category;
            applyFilters();
        }
        function statusFilter(status) {
            const buttons = document.querySelectorAll('.filter-status');
            buttons.forEach((button) => {
                button.classList.remove('active');
            });
            document.querySelector(`.filter-status.${status}`).classList.add('active');
            const statusInput = document.getElementById('status');
            statusInput.value = status;
            applyFilters();
        }
        function applyFilters() {
            const category = document.getElementById('category').value;
            const status = document.getElementById('status').value;
            const posts = document.querySelectorAll('.blog-post-item');
            posts.forEach((post) => {
                if (category === 'all' || post.classList.contains(category)) {
                    if (status === 'all' || post.classList.contains(status)) {
                        post.style.display = 'block';
                    } else {
                        post.style.display = 'none';
                    }
                } else {
                    post.style.display = 'none';
                }
            });
        }
    </script>
{% endblock content %}