{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Home Section -->
        <section class="small-section bg-dark-alfa-50 bg-scroll light-content mb-5" data-background="{% get_media_prefix %}{{ header.page_image }}" id="home">
            <div class="container relative pt-70">
                <div class="row">
                    <div class="col-md-8">
                        <div class="wow fadeInUpShort" data-wow-delay=".1s">
                            <h1 class="hs-line-7 mb-20 mb-xs-10">
                                {% if header.page_title %}{{ header.page_title}}{% else %}Resources{% endif %}
                            </h1>
                        </div>
                        <div class="wow fadeInUpShort" data-wow-delay=".2s">
                            <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">
                            {% if header.page_description %}{{ header.page_description}}{% else %}Resources Header Text{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Section -->
        
        <section class="page-section">
            <div class="container relative">
                {% for resource in resources %}
                <div class="row mb-5">
                    <div class="col-12 d-flex justify-content-start gap-5">
                        <div class="resource-image col-3"><img class="w-100 rounded-3" src="{{ resource.image.url }}" alt="{{ resource.title }}" /></div>
                        <div class="resource-text col-9 d-flex flex-column">
                            <h3 class="mt-5">{{ resource.title }}</h3>
                            <div>{{ resource.description }}</div>
                            <div class="col-3 col-sm-12 mt-3">
                                <a href="{{ resource.link }}" class="btn btn-lg btn-outline-secondary" type="button" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Section -->
{% endblock content %}